body {
    font-family: 'Oswald', sans-serif;
    background: $white;
    color: $graphite;
}

pre {
    color: $black;
    font-family: 'Source Sans Pro', monospace;
}

a {
    color: $sharp-blue;
    text-decoration: none;
}

a:hover,
a:focus {
    color: $lime-green;
    text-decoration: underline;
}


.step {
    width: 500px;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    transition: opacity 0s;
}

.impress-enabled .step.active { opacity: 1 }


#overview { display: none }

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}
